html {
  box-sizing: border-box;
  overflow-x: hidden;

}
*, *:before, *:after {
  box-sizing: inherit;
}

section{
  position: relative;
}

.landingPage{

}

.designPage{

}

.structurePage{

}

.renderPage{

}

.lastPage{

}

nav{
  position: fixed;
  z-index: 3;
  right: 20px;
  top: 50%;
  transform: translate(0%, -50%);
}

.p1{
  background-color: rgba(255, 0, 0, 0.8);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 10px;
}

.p2{
  background-color: rgba(255, 100, 0, 0.8);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 10px;
}

.p3{
  background-color: rgba(255, 255, 0, 0.8);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 10px;
}

.p4{
  background-color: rgba(0, 255, 100, 0.8);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 10px;
}

.p5{
  background-color: rgba(0, 0, 255, 0.8);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 10px;
}
.scale100{
  transform: scale(1.0);
  margin: 10px;
  opacity: 0.5;
  transition: all 0.5s;
}

.landingContainter{
  position: relative;
}

.scale150{
  transform: scale(1.5);
  margin-top: 15px;
  margin-bottom: 15px;
  opacity: 1;
  transition: all 0.5s;
}

.placeholder{
  position: relative;
  width: 100%;
  opacity: 0;
  z-index: -5;
}

.render1a{
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  opacity: 0;
  z-index: 1;
  -skrollr-animation-name: render1aAnimation;
}

.render1b{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  opacity: 1;
  z-index: 2;
  -skrollr-animation-name: render1bAnimation;
}

@-skrollr-keyframes render1bAnimation {
    0 {
        opacity: 1;
        top: 0%;
    }

    300 {
        opacity: .5;
        top: -20%;
    }

    1000{
        opacity: 0;
    }

}

@-skrollr-keyframes render1aAnimation {
    0 {
        opacity: .5;
        top: 0%;
    }

    300 {
        opacity: .7;
        top: -20%;
    }

    1000{
        opacity: 1;
    }


    1400{
        opacity: 0;
    }

}

h1{
  font-size: 30px;
  font-weight: 100;
  position: absolute;
  color: rgba(255, 255, 255, 1);
  z-index: 3;
}

.e1{
  -skrollr-animation-name: e1Animation;
}

.e2{
  -skrollr-animation-name: e2Animation;
}

.e3{
  -skrollr-animation-name: e3Animation;
}

.e4{
  -skrollr-animation-name: e4Animation;
}



@-skrollr-keyframes e1Animation {

}

@-skrollr-keyframes e2Animation {

}

@-skrollr-keyframes e3Animation {

}

@-skrollr-keyframes e4Animation {

}

.title{
  font-size: 80px;
  font-weight: normal;
  border-color: rgba(255, 255, 255, 1);
  border-width: 10px;
  border-style: solid;
  padding-top: 0px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.inspiration{
  -skrollr-animation-name: inspirationAnimation;
}

.canyon{
  -skrollr-animation-name: canyonAnimation;
}

.landing1{
  width: 120%;
  z-index: 1;
  -skrollr-animation-name: landing1Animation;
}

.landing2{
  width: 120%;
  -skrollr-animation-name: landing2Animation;
}

@-skrollr-keyframes landing1Animation {
    1100 {
        opacity: 0.5;
        margin-left: 0px;
    }

    2000 {
        opacity: 1;
        margin-left: -150px;
    }

}

@-skrollr-keyframes landing2Animation {
    2000 {
        opacity: 0.5;
        margin-left: -150px;
    }

    2800 {
        opacity: 1;
        margin-left: 0px;
    }

}

@-skrollr-keyframes inspirationAnimation {
    1100 {
        opacity: 0.8;
        top: 50px;
        right: 200px;
    }

    2000 {
        opacity: 1;
        top: 600px;
        right: 500px;
    }

}

@-skrollr-keyframes canyonAnimation {
    2400 {
        opacity: 0.8;
        top: 1200px;
        left: 100px;
    }

    2800 {
        opacity: 1;
        top: 1800px;
        left: 300px;
    }

}
