html {
  box-sizing: border-box;
  overflow-x: hidden;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  min-width: 1440px;
}

/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

section{
  position: relative;
}

.landingPage{

}

.designPage{

}

.structurePage{

}

.renderPage{

}

.lastPage{

}

nav{
  position: fixed;
  z-index: 3;
  right: 20px;
  top: 50%;
  transform: translate(0%, -50%);
}

.p1{
  background-color: rgba(255, 0, 0, 0.8);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 10px;
}

.p2{
  background-color: rgba(255, 100, 0, 0.8);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 10px;
}

.p3{
  background-color: rgba(255, 255, 0, 0.8);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 10px;
}

.p4{
  background-color: rgba(0, 255, 100, 0.8);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 10px;
}

.p5{
  background-color: rgba(0, 0, 255, 0.8);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 10px;
}
.scale100{
  transform: scale(1.0);
  margin: 10px;
  opacity: 0.5;
  transition: all 0.5s;
}

.landingContainter{
  position: relative;
}

.scale150{
  transform: scale(1.5);
  margin-top: 15px;
  margin-bottom: 15px;
  opacity: 1;
  transition: all 0.5s;
}

.placeholder{
  position: relative;
  width: 100%;
  opacity: 0;
  z-index: -5;
}

.render1a{
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  opacity: 0;
  z-index: 1;
  -skrollr-animation-name: render1aAnimation;
}

.render1b{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  opacity: 1;
  z-index: 2;
  -skrollr-animation-name: render1bAnimation;
}

@-skrollr-keyframes render1bAnimation {
    0 {
        opacity: 1;
        top: 0%;
    }

    300 {
        opacity: .5;
        top: -20%;
    }

    1000{
        opacity: 0;
    }

}

@-skrollr-keyframes render1aAnimation {
    0 {
        opacity: .5;
        top: 0%;
    }

    300 {
        opacity: .7;
        top: -20%;
    }

    1000{
        opacity: 1;
    }

    1300{
        opacity: 0.8;
    }

    1500{
        opacity: 0;
    }

}

.divider1{
  width: 100%;
  height: 500px;
  background-color: rgba(255, 100, 0, 1);
  z-index: 5;
}

.divider2{
  width: 100%;
  height: 10px;
  background-color: rgba(255, 100, 0, 1);
  margin-top: -5px;
  z-index: 5;
}


.location{
  color: rgba(255, 255, 255, 1);
  font-size: 60px;
  font-weight: 100;
  position: absolute;
  top: 270px;
  left: 380px;
  z-index: 3;
  display: none;
}

.locationActive{
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 4s steps(60, end);
  display: block;
}

.locationActive:nth-child(2){
  animation: type2 8s steps(60, end);
}

@keyframes type{
  from { width: 0; }
}

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; }
}

@keyframes blink{
  to{opacity: .0;}
}

h1{
  font-size: 30px;
  font-weight: 100;
  position: absolute;
  color: rgba(255, 255, 255, 1);
  z-index: 3;
}

.title{
  font-size: 80px;
  font-weight: normal;
  border-color: rgba(255, 255, 255, 1);
  border-width: 10px;
  border-style: solid;
  padding-top: 0px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.intro{
  -skrollr-animation-name: introAnimation;
  padding-top: 5px;
}

.inspiration{
  -skrollr-animation-name: inspirationAnimation;
}

.canyon{
  -skrollr-animation-name: canyonAnimation;
}

.landing1{
  width: 120%;
  z-index: 1;
  -skrollr-animation-name: landing1Animation;
}

.landing2{
  width: 120%;
  -skrollr-animation-name: landing2Animation;
}

.logo{
  opacity: .6;
  transform: scale(1);
  transition: all 1s;
  -skrollr-animation-name: logoAnimation;
}

.logo:hover{
  opacity: 1;
  cursor: pointer;
  transform: scale(1.1);
  transition: all 1s;
}

@-skrollr-keyframes introAnimation {
    0 {
        top: 50px;
        left: 100px;
        font-size: 50px;
        border-width: 6px;
        opacity: 1;
        color: rgba(255, 100, 0, 1);
        border-color: rgba(255, 100, 0, 1);
    }

    900 {
        top: 1400px;
        left: 100px;
        font-size: 30px;
        border-width: 3px;
        opacity: 1;
        color: rgba(255, 255, 255, 1);
        border-color: rgba(255, 255, 255, 1);
    }

    1200{
        top: 1400px;
    }

    1600 {
        top: 1800px;
    }

    1800 {
        top: 1800px;
    }

    2100 {
        top: 1800px;
        opacity: 0;
    }

}

@-skrollr-keyframes logoAnimation {
    0 {
        opacity: 0;
    }

    1850 {
        opacity: 0;
        position: fixed;
        top: 20px;
        right: 20px;
        line-height: .95;
        letter-spacing: 4px;
        font-size: 30px;
        width: 54px;
        height: 61px;
        padding: 0px 0px 0px 6px;
        color: rgba(255, 255, 255, 1);
        border-color: rgba(255, 255, 255, 1);
        border-width: 3.5px;
        border-style: none none solid solid;
        z-index: 5;
    }

    2000 {
        opacity: .8;
        color: rgba(255, 255, 255, 1);
        border-color: rgba(255, 255, 255, 1);
    }

    2500{
      color: rgba(255, 100, 0, 1);
      border-color: rgba(255, 100, 0, 1);
    }

    9000 {

    }

}


@-skrollr-keyframes landing1Animation {
    1600 {
        opacity: 0.5;
        margin-left: 0px;
    }

    2500 {
        opacity: 1;
        margin-left: -100px;
    }

    3000 {
        opacity: 1;
    }

    3400 {
        opacity: .3;
        margin-left: -150px;
    }

}

@-skrollr-keyframes landing2Animation {
    2600 {
        opacity: 0.5;
        margin-left: -150px;
    }

    3300 {
        opacity: 1;
        margin-left: -50px;
    }

    3800 {
        opacity: 1;
    }

    4600 {
        opacity: .3;
        margin-left: 0px;
    }

}

@-skrollr-keyframes inspirationAnimation {
    1600 {
        opacity: 0.8;
        top: 50px;
        right: 200px;
    }

    2600 {
        opacity: 1;
        top: 600px;
        right: 500px;
    }

}

@-skrollr-keyframes canyonAnimation {
    2900 {
        opacity: 0.8;
        top: 1200px;
        left: 100px;
    }

    3600 {
        opacity: 1;
        top: 1700px;
        left: 250px;
    }

    4000 {
        opacity: 1;
        top: 1900px;
        left: 250px;
    }

}

.divider3{
  position: relative;
  width: 100%;
  height: 10px;
  background-color: rgba(255, 100, 0, 1);
  margin-top: -5px;
  z-index: 1;
}

.site{
  color: rgba(255, 100, 0, 1);
  border-color: rgba(255, 100, 0, 1);
  display: table-cell;
  vertical-align: bottom;
  font-size: 60px;
  border-width: 5px;
}

.ls{
  width: 400px;
  margin-top: 150px;
  margin-left: 10px;
  margin-right: 10px;
  z-index: 1;
}

.light-study{
  position: absolute;
  top: 200px;
  -skrollr-animation-name: lightStudyAnimation;
}

.ls-label{
  display: inline-block;
  font-weight: 100;
  margin-left: 135px;
  margin-right: 135px;
  padding: 5px;
  color: rgba(210, 210, 210, 1);
  transform: scale(1);
  transition: all .3s;
}

.ls-label-selected{
  color: rgba(255, 100, 0, 1);
  transition: all .3s;
}

@-skrollr-keyframes lightStudyAnimation {
    4200 {
        opacity: 0.8;
        left: -5%;
    }

    5000 {
        opacity: 1;
        left: 2%;
    }

}

.site{
  width: 100%;
}

.divider4{
  position: relative;
  width: 100%;
  height: 10px;
  background-color: rgba(255, 100, 0, 1);
  margin-top: -20px;
  z-index: 1;
}

.divider5{
  position: relative;
  width: 100%;
  height: 10px;
  background-color: rgba(255, 100, 0, 1);
  margin-top: -5px;
  z-index: 1;
}

.drawing-button{
  position: absolute;
  background-color: rgba(255, 100, 0, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  font-weight: 100;
  padding: 10px;
  right:10%;
  cursor: pointer;
  z-index: 2;
}

.button-bg{
  background-color: rgba(200, 200, 200, 0.5);
  position: absolute;
  height: 1007px;
  width: 432px;
  right: 0px;
}

.button-one{
  position: absolute;
  top: 570px;
  left: 600px;
  background-color: rgba(255, 100, 0, 0.8);
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 4;
}

.button-two{
  position: absolute;
  top: 436px;
  left: 350px;
  background-color: rgba(255, 100, 0, 0.8);
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 4;
}

.button-three{
  position: absolute;
  top: 460px;
  left: 500px;
  background-color: rgba(255, 100, 0, 0.8);
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 4;
}

.button-four{
  position: absolute;
  top: 630px;
  left: 750px;
  background-color: rgba(255, 100, 0, 0.8);
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 4;
}

.trees-b{
  top: 160px;
}

.site-building-b{
  top: 240px;
}

.top-b{
  top: 320px;
}

.plan2-b{
  top: 400px;
}

.plan1-b{
  top: 480px;
}

.elevation-b{
  top: 880px;
}

.section-b{
  top: 965px;
}

.plan1{
}

.plan2{
}

.top{
}

.site{
}

.trees{
}

.elevation{
}

.section{
}


.selected-button{
  background-color: rgba(32, 152, 209, 1);
  color: rgba(255, 255, 255, 1);
}

.drawing{
  width: 70%;
  position: absolute;
}
.render-pop-img{
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.render-pop-one, .render-pop-two, .render-pop-three, .render-pop-four {
  display: none;
  background-color: rgba(120, 120, 120, 0.9);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 5;
}
